/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #444;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  justify-content: center; /* Align cards horizontally with space between them */
}

.card {
  width: 200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  text-align: center;
  color: #007bff; /* Technosavvy blue color */
  font-size: 36px;
  margin-bottom: 20px;
}

/* Switch styles */
.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.switch-label {
  color: #666;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff; /* Blue color */
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.card {
  margin: 10px;
}

.card label {
  display: block; /* Display label as block to make it appear above the checkbox */
  margin-bottom: 10px; /* Add space between label and checkbox */
}

.card .switch {
  display: inline-block;
}

/* Customizing the appearance of the checkbox */
.switch input:checked {
  visibility: hidden;
}
